version: '3'
services:
  LadyBot:
    build:
      context: .
      dockerfile: dockerfile
    volumes:
      - '.:/opt/Gemini'
    environment:
      - api_key=${api_key}
      - tg_token=${tg_token}
    command: >
      sh -c "python /opt/Gemini/main.py"
    container_name: Gemini_Bot
    image: gemini2.5_bot