version: '3.8'

services:
  bot:
    build: .
    container_name: deepseek_bot
    restart: unless-stopped
    env_file:
      - .env  # Чтение переменных из файла .env
    volumes:
      - ./logs:/app/logs
    image: ai_telegram_bot